@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Intel One Mono';
    font-style: normal;
    font-weight: 200;
    font-display: light; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/intel-mono/intelone-mono-font-family-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Intel One Mono';
    font-style: normal;
    font-weight: 400;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/intel-mono/intelone-mono-font-family-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Intel One Mono';
    font-style: normal;
    font-weight: 800;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/intel-mono/intelone-mono-font-family-bold.woff2') format('woff2');
  }
}