---
// import type { IFrontmatter } from 'astro-boilerplate-components';

// import { Hero } from '@/partials/Hero';
import Base from "@/templates/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
// import { sortByDate } from '@/utils/Posts';

// const allPosts = await Astro.glob<IFrontmatter>('./posts/*.md');
// const sortedPosts = sortByDate(allPosts);
// const lastThreePosts = sortedPosts.slice(0, 3);

const { title } = AppConfig;
const { description } = AppConfig;

// const Links : string[] = [
//   "PGP Key", "Email", "LinkedIn", "Projects", "Resume", "Github", "Blog"
// ];

---

<Base head={{ title, description }}>
  <div class="h-full min-h-full flex my-auto items-center justify-center flex-col">
    <h1 class="text-8xl font-light block m-20">SAMUEL BAUMOHL</h1>
    <!-- <div class="flex-inline">
      {
        Links.map((val) => (
          <p class="inline-block">{" "}| {val + " "}|</p>
        ))
      }
    </div> -->
    <h1 class="text-xl font-thin">Software Developer & Student @ The University of Wisconsin-Madison</h1>
  </div>
  <div>
    <ul>
      <li class="font-intelonemono">Stuff</li>
      <li class="font-intelonemono">Stuff</li>
      <li class="font-intelonemono">Stuff</li>
      <li class="font-intelonemono">Stuff</li>
    </ul>
  </div>
</Base>
