---
import BasePage from "../layouts/BasePage.astro";
import { links, projects } from "../consts";
import { Icon } from "astro-icon/components";
import CustomLink from "../components/CustomLink.astro"
---

<BasePage>
	<div class="mt-20 block mx-auto justify-center max-w-[700px] text-wrap">
		<h1 class="text-5xl my-4">Sam Baumohl</h1>
		<p class="mb-1">
			I am a student at the <span class="text-accent">University of Wisconsin-Madison</span> studying
			<span class="text-primary">Computer Sciences</span> and <span class="text-secondary">Mathematics</span>. I'm interested in software
			development, machine learning/AI, and technology policy. I like to
			read, solve problems, and work on various side projects, some of
			which I'll post here. Right now, I'm:
		</p>
		<ul class="ml-1 list-disc list-inside">
			<li>trying to survive the CS major</li>
			<li>a Coordinator at Madison's&nbsp;<CustomLink href="https://www.upl.cs.wisc.edu/">Undergraduate Project Lab</CustomLink>
			<li>an active member of the&nbsp;<CustomLink href="https://waisi.org/">Wisconsin AI Safety Initiative (WAISI)</CustomLink></li>
			<li>having fun with&nbsp;<CustomLink href="https://adventofcode.com/">Advent Of Code</CustomLink></li>
		</ul>
		<h2 class="text-3xl my-2">Socials</h2>
		<div class="flex flex-row items-center justify-center gap-x-2">
			<button class="btn">
				<Icon name="linkedin"></Icon>
				LinkedIn
			</button>
			<button class="btn">
				<Icon name="github"></Icon>
				Github
			</button>
			<button class="btn">
				<Icon name="mail"></Icon>
				Email
			</button>
		</div>
	</div>
</BasePage>
