---
// import type { IFrontmatter } from 'astro-boilerplate-components';

// import { Hero } from '@/partials/Hero';
import Base from "@/templates/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
// import { sortByDate } from '@/utils/Posts';

// const allPosts = await Astro.glob<IFrontmatter>('./posts/*.md');
// const sortedPosts = sortByDate(allPosts);
// const lastThreePosts = sortedPosts.slice(0, 3);

const { title } = AppConfig;
const { description } = AppConfig;

const Links: string[] = [
  "PGP Key",
  "Email",
  "LinkedIn",
  "Projects",
  "Resume",
  "Github",
  "Blog",
];

// {Links.map((val) => <p class="font-thin px-5 py-5 block">{val}</p>)}
---

<Base head={{ title, description }}>
  <div
    class="text-celadon h-full min-h-full grid md:grid-cols-2 grid-cols-1 w-4/5 mx-auto py-20"
  >
    <div class="pr-20">
      <h1 class="w-content text-8xl font-extralight">Samuel</h1>
      <h1 class="w-content text-8xl font-extralight">Baumohl</h1>
      <p class="mt-20 w-132">
        Samuel Baumohl is a student at the University of Wisconsin-Madison. I
        study Computer Sciences and Legal Studies at the Honors College of
        Letters and Sciences. I work for Beyond Creative, which creates award
        winning advertisement experiences, as a Gameplay Programmer.
      </p>
    </div>
    <div class="flex flex-col space-between">
      {
        Links.map((val) => (
          <a class="md:pl-0 pl-16 text-6xl mb-8 underline underline-offset-2 hover:underline-offset-8 decoration-pacific font-extralight w-content">
            {val}
          </a>
        ))
      }
    </div>
  </div>
</Base>
