---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION, PGP_KEY } from "../consts";

import "@fontsource-variable/roboto-mono";
import "@fontsource-variable/manrope";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="min-h-full h-100 subpixel-antialiased text-text">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="font-thin font-mono bg-background">
		<Header />
		<div class="prose-code w-3/4 mx-auto">
			<code set:text={PGP_KEY}></code>
		</div>
		<Footer />
	</body>
</html>
