<div class="component-container">
  <div class="name-header">
    <div class="d-block">
      <h1 class="position-relative text-center container" id="bigNameTitle">
        SamBaumohl.com
      </h1>
      <h4 class="text-center d-block mb-1">
        Sam Baumohl is a full-stack developer from Missouri.
      </h4>
      <div
        class="site-links-group mt-3 mx-auto px-0 container"
        aria-label="Site Links"
      >
        <div class="text-center" *ngFor="let link of headerLinks">
          <a
            [href]="link.link"
            type="button"
            class="mx-auto"
            target="_blank"
            rel="noopener"
          >
            <fa-icon [icon]="link.icon" size="2x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-5 mt-2 container-fluid section" id="skills">
    <hr class="line">
    <h1 class="text-center py-4">Skills</h1>
    <div class="row">
      <div class="col pt-2 skill px-md-5" *ngFor="let skill of skills">
        <fa-icon
          *ngIf="!skill.isDevicon"
          [icon]="skill.icon"
          size="6x"
          [styles]="{
            stroke: 'rgba(255, 255, 255, 0.92)',
            color: 'rgba(255, 255, 255, 0.92)'
          }"
        ></fa-icon>
        <i
          [class]="skill.icon"
          style="font-size: 9rem"
          *ngIf="skill.isDevicon"
        ></i>
        <h3 class="d-block pt-2">{{ skill.name }}</h3>
      </div>
    </div>
  </div>

  <div class="pb-5 mt-3 container-fluid section" id="projects">
    <hr class="line">
    <h1 class="text-center py-4 text-light">Projects</h1>
    <div class="projects">
      <div *ngFor="let project of resumeProjects">
        <div class="ml-4">
          <h5>{{ project.title }}</h5>
          <p>
            {{ project.description }}
          </p>
          <a [href]="project.sourceUrl">
            <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
          </a>
          <a
            *ngIf="project.projectUrl !== undefined"
            [href]="project.projectUrl"
            class="ml-4"
          >
            <fa-icon [icon]="['fas', 'arrow-right']" size="2x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
