.component-container {
  background-color: rgba(0, 0, 0, 0.92);
  color: rgba(255, 255, 255, 0.92);

  .name-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    @media only screen and (min-width: 768px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  .site-links-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill {
    align-items: center;
    text-align: center;

    fa-icon {
      font-size: 1.5rem;
    }
  }

  .section {
    @media only screen and (min-width: 768px) {
      max-width: 62%;
    }
  }
}
