html,
body {
  background-color: #18191a;
  color: rgba(255, 255, 255, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  height: 100%;
  width: 100%;
  margin: 0;

  div {
    color: rgba(255, 255, 255, 0.9);
    background-color: #18191a;
  }
}

a {
  color: #0070f3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.canvas {
  height: 100%;
  width: 100%;
}
