---
import { Icon } from "astro-icon/components";
---
<a
    class="underline inline-flex items-center whitespace-nowrap"
	rel="noopener noreferrer"
	target="_blank"
	{...Astro.props}><slot />
    <Icon class="ml-[1px] pt-[1.9px] text-xs" name="fa-ext"/>
</a>

