---
import { NAME } from "../consts";
const today = new Date();

const { havePhotoCredits } = Astro.props;
---

<footer class="bg-secondary-focus mt-2">
	&copy; {today.getFullYear()}
	{" " + NAME}. All rights reserved. {
		havePhotoCredits && (
			<>
				Personal Photography by{" "}
				<a href="https://www.strausspeyton.com/" class="hover:underline">Strauss Peyton</a>.
			</>
		)
	}
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		text-align: center;
	}
</style>
