---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/source-serif-4";
---

<!doctype html>
<html lang="en" class="font-serif min-h-full h-100 bg-bright">

	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="text-darker bg-bright dark:text-bright dark:bg-darker">
		<!-- <Header/> -->
		<main>
			<slot />
		</main>
	</body>
	
	<!-- Footer -->
	<Footer />
</html>
