---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/source-serif-4";

interface BasePageProps {
	title?: String,
	description?: String,
	ogtype?: String,
}

const {title, description, ogtype }: BasePageProps = Astro.props;
---

<!doctype html>
<html lang="en" class="font-serif min-h-full h-100">

	<head>
		<BaseHead title={title} description={description} ogtype={ogtype} />
	</head>
	<body class="">
		<main>
			<slot />
		</main>
	</body>
	
	<!-- Footer -->
	<Footer />
</html>
