---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en" class="font-serif min-h-full h-100 subpixel-antialiased bg-background text-text">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="">
    	<main>
			<slot/>
		</main>
	</body>

	<!-- Footer -->
	<Footer/>
</html>